:root {
    --color-main-blue: #0C1743;
    --color-main-purple: #8636B7;
    --color-light-purple: #BF88EF;
    --gradient-brand: linear-gradient(90deg, #0C1743, #BF88EF, #8636B7);

    --primary-hue: 277;
    --primary-saturation: 54%;
    --primary-lightness: 46%;
}

.dark {
    --primary-hue: 272;
    --primary-saturation: 76%;
    --primary-lightness: 74%;
}

.premday_card {
    background: linear-gradient(160deg, rgba(255, 255, 255, 0) 50%, rgba(191, 136, 239, 0.25) 100%);
}